<div id="header">
	<div id="header_title" class="title">{{campaign.campaign-name}}</div>
</div>

<div id="campaign_page" class="content_wrapper">
	<div id="wrapperCampaign" class="scroll_wrapper">
		<div id="scroller">
			<div class="banner" style="height:145px;background-image:url({{campaign.logo}});background-color:{{campaign.logo-bg-color}}"></div>
			<div class="description">
				<div class="h2">{{campaign.start-date}} - {{campaign.end-date}}</div>
				<p>{{main.teaser}}</p>
			</div>
			<div class="signUp_wrapper">
				<div class="button yellow_button active_yellow">Sign Up</div> <!-- toggles to Already Signed Up -->
			</div>
			
			{{#if main.image}}
			<img class="main_image" src="{{main.image}}"/>
			{{/if}}
			
			{{#if challenges}}
			<div id="challenges_banner" class="campaign_link">Actions</div>
			{{/if}}
			
			{{#if faq-ios}}
			<div id="faq_banner" class="campaign_link">FAQ</div>
			{{/if}}
			
			{{#if gallery}}
			<div id="gallery_banner" class="campaign_link">Gallery</div>
			{{/if}}
		
			{{#if how-to}}

			<div id="howto_banner" class="campaign_link">How To</div>
			{{#each how-to}}
			<div id="faq_page" class="content_wrapper">
						<div class="faq_item">
							<div class="question_wrapper">
								<div class="question">{{item-header}}</div>
								<div class="item_arrow"></div>
								<div class="clear"></div>
							</div>
							<div class="answer">{{item-body}} </div>
						</div>
					</div>						
			{{/each}}

			{{/if}}
			
			{{#if prizes}}
			<div id="prizes_banner" class="campaign_link">Prizes</div>
			{{/if}}
			
			{{#if resources}}
			<div id="resources_banner" class="campaign_link">Resources</div>
			{{/if}}
			
		</div>
	</div>
</div>
