<div id="header">
	<div id="header_title" class="title">{{campaign.campaign-name}}</div>
</div>

<div id="campaign_page" class="content_wrapper">
	<div id="wrapperCampaign" class="scroll_wrapper">
		<div id="scroller">
			<div class="banner" style="height:14px;background-image:url({{main.image}})"></div>
			<div class="description">
				<div class="h2">{{campaign.start-date}} - {{campaign.end-date}}</div>
				<p>{{main.teaser}}</p>
			</div>
			<div class="signUp_wrapper">
				<div class="button yellow_button active_yellow">Sign Up</div> <!-- toggles to Already Signed Up -->
			</div>			
			
			<div class="campaign_link">Actions</div>
			
			{{#if challenges}}
			<div class="campaign_link">Challenges</div>
			{{/if}}
			
			{{#if faq-ios}}
			<div class="campaign_link">FAQ</div>
			{{/if}}
			
			{{#if gallery}}
			<div class="campaign_link">Gallery</div>
			{{/if}}
		
			{{#if how-to}}
			<div class="campaign_link">How To</div>
			{{/if}}
			
			{{#if prizes}}
			<div class="campaign_link">Prizes</div>
			{{/if}}
			
			{{#if resources}}
			<div class="campaign_link">Resources</div>
			{{/if}}
			
		</div>
	</div>
</div>
