<div id="header">
	<div id="header_title" class="title">Get Involved</div>
</div>

<div id="involved_page" class="content_wrapper">
	<div id="wrapper" class="scroll_wrapper">
		<div id="scroller">
			
			{{#each campaigns}}
			
			<div data-id="{{campaign.gid}}" class="campaign_thumb banner" style="background-color:{{campaign.logo-bg-color}};background-image:url({{campaign.logo-bg-image}})">
				<div class="banner_logo" style="background-image:url({{campaign.logo}})"></div>
				<div class="call_to_action">{{campaign.call-to-action}}</div>
			</div>
			
			{{/each}}
			
		</div>
	</div>
</div>