<div id="header">
	<div class="back_button"></div>
	<div id="header_title" class="title">{{ name }}</div>
</div>

<div id="petDetail_page" class="content_wrapper">
	<div id="slider" class="swipe">
	  <div class="swipe_container">
			
			<div class="pet_detail" style="display:block">
				<div class="block panel">
					<div class="front">
						<div class="card_content">
							<div class="image" style="background-image:url('{{ petdetail_retina }}')"></div>
							<div class="detail1">{{[three words]}}</div>
							<div class="detail2">{{ city }}, {{ state }}</div>
						</div>
					</div>
					<div class="card_back">
						<div class="card_content">
							<div class="pet_description align_center" style="padding:7px 0 15px 0">
							

								{{ name }} is a {{ age }} year old {{ [animal type] }}. {{ name }} is {{[three words]}}. Below is {{ name }}'s shelter information.
							</div>
							<div class="card_bottom">
								<div class="shelter_name">{{ sheltername }}</div>
								<div class="shelter_address">{{ address1 }}</div>
								<div class="shelter_address">{{ address2 }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="detail_buttons">
					<div class="pet_sharegoals wide_button gray_button heart">{{ [facebook share count] }}</div>
					<div id="pet_moreinfo" class="wide_button green_button active_yellow flip_action">MORE INFO</div>
				</div>
				<div id="pet_share" class="wide_button blue_button active_yellow">SHARE ME</div>
			</div>
			
	  </div>
	</div>
</div>