<div id="header">
	<div class="back_button"></div>
	<div id="header_title" class="title">Find a Shelter</div>
</div>

<div id="shelterDetails_page" class="content_wrapper palette">
	<div class="shelter_spinner">
		<div class="spinnerWrapper">	
			<div class="spinner">
		    <div class="bar1"></div>
		    <div class="bar2"></div>
		    <div class="bar3"></div>
		    <div class="bar4"></div>
		    <div class="bar5"></div>
		    <div class="bar6"></div>
		    <div class="bar7"></div>
		    <div class="bar8"></div>
		    <div class="bar9"></div>
		    <div class="bar10"></div>
		    <div class="bar11"></div>
		    <div class="bar12"></div>
		  </div>
		</div>
	</div>
	<div class="shelter_map" style="background-image:url('{{ map_url }}')"></div>
	<div class="shelter_deets">
		<div class="shelter_name">{{ title }}</div>
		<div class="shelter_address">{{ address1 }}, {{ city }}, {{ state }}</div>
		<div class="shelter_hours">{{ hours }}</div>
	</div>
	<div class="clear"></div>
	<div class="wide_button red_button active_opacity centered"><a href="tel:{{ phone }}">{{ phone }}</a></div>
</div>